<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">
    <div class="row">
        <div class="col s12">
            <form th:action="@{/searchUser}" method="GET">
                <h1>Search for a User</h1>
                <input th:type="text" id="search" name="term"/>
                <input type="submit" value="search"/>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
