<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<form id="form">
    <h1>Search for shows by Area</h1>
    <label for="zipcode">Zipcode</label>
    <input id="zipcode" />
    <label for="radius">Radius (miles)</label>
    <input id="radius" />
    <input id="submit" type="submit" />

</form>
<input id="csrf" type="hidden" th:value="${_csrf.token}"/>
<div id="searchResult"></div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/searchForShowsByZipcode.js"></script>
</body>
</html>