target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

src/main/resources/application.properties

**/.DS_Store

API KEYS
suakw9fxjerxgssx95s993rd  - tomas
h3fxhwz2qkyc5u8dtd4dbw9c  - daniel