<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container purple lighten-5">
    <div class="row">
        <div class="col s12 center">
            <h1>Edit your Review</h1>
            <p>Opinions change, reflect those changes here!</p>
        </div>
    </div>
    <div class="row">
        <div class="form-div white col s12 m6 offset-m3">
            <form th:action="@{'/review/' + ${review.id} + '/edit'}" method="post" th:object="${review}" class="user-form">

                <div class="form-group">

                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

                    <label for="title">Title: </label>
                    <input class="form-control" id="title" name="title" type="text" th:field="*{title}"/>

                </div>
                <div class="form-group">

                    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>


                    <label for="body">Body: </label>
                    <input class="form-control" id="body" name="body" type="text" th:field="*{body}"/>
                </div>
                <div class="form-group">

                    <label for="rating">Rating: </label>
                    <input class="form-control" id="rating" name="rating" placeholder="1-5" th:field="*{rating}"/>

                </div>
                <input class="form-btn" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>