<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<h1>Welcome <span th:text="${user.username}"></span></h1>
<h2>Here are your reviews:</h2>
<ul th:each="review : ${user.reviews}">
    <li>
        <h2 th:text="${review.title}"></h2>
        <p th:text="${review.body}"></p>
        <p th:text="${review.rating}"></p>
    </li>
    <!--<form method="post" th:action="@{'/review/' + ${review.id} + '/delete'}" id="form">-->
        <!--<input class="btn btn-block btn-danger" type="submit" value="Delete" />-->
    <!--</form>-->
</ul>
</body>
</html>