<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header">


    <!--<link href="common.css" rel="stylesheet" type="text/css">-->
</head>
<body>
<header>
<nav th:replace="fragments/navbar :: mainNav"></nav>
</header>
<main>
    <div class="row">
        <div class="col 12">
            <div class="container-fluid2">Band Name</div>
        </div>
    </div>

<div class="row">

    <div class="container-fluid2">Top Tracks</div>
    </div>

</main>
<div class="container-fluid3">Band info/bio</div>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>