<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: main-header">
    <link href="common.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            Band Name
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">Top Tracks</div>
        <div class="col-xs-9">Band info/bio</div>
    </div>
</div>
</body>
</html>