<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">

</head>
<!--<link href="loginStyle.css" rel="Stylesheet" type="text/css"/>-->
<body>
<header>
    <nav th:replace="fragments/navbar :: mainNav"></nav>
</header>
<main class="purple lighten-4">
    <div class="container purple lighten-5">
        <div class="row">
            <div class="col s12 center">
                <h2>Meet The Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 center">
                <img class="responsive-img" src="/images/TomasHipolito2.jpg"/>
                <h2>Tomas Hipolito</h2>
            </div>
            <div class="col s12 m4 center">
                <img class="responsive-img" src="/images/DanielStrolle1.jpg"/>
                <h2>Daniel Strolle</h2>
            </div>
            <div class="col s12 m4 center">
                <img class="responsive-img" src="/images/CarloCappellini3.jpg"/>
                <h2>Carlo Cappellini</h2>
            </div>
        </div>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>