<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">
</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">
    <div class="showInfo col-xs-12">
        <h1>Show ID: <span id="show_id" th:value="${show_id}" th:text="${show_id}"></span></h1>
        <div class="col-xs-8" id="moreInfo"></div>
        <div class="col-xs-4" id="map-canvas" style="height: 200px"></div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7tl1sBnzAmPXpAgFF1yf-2-aUG8Lndr4"></script>
<script src="/js/moreShowInformation.js"></script>
</body>
</html>