<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head></head>
<body>

<footer th:fragment="footer">
    This footer will have our contact us info as well as about me information
</footer>
<div class="container-fluid">
    <ul>
        <li>
                <button class="btn-link btn" style="margin-top: 8px">About Us</button>

        </li>
        <li>
            <button class="btn-link btn" style="margin-top:8px">Contact Information</button>
        </li>
    </ul>
</div>

</body>
