<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Title</title>


</head>
<body>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->

<div th:fragment="mainNav" th:remove="tag">
    <nav class="deep-purple darken-3">
        <div class="nav-wrapper">
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/band/search">Find A Band</a></li>
                <li class="divider"></li>
                <li><a href="/show/search">Find Shows Near Me</a></li>
                <li class="divider"></li>
                <li><a href="/user/search">Find A User</a></li>
            </ul>
            <a href="/" class="brand-logo center text-white right hide-on-med-and-down">
                LMIML
            </a>
            <ul sec:authorize="isAuthenticated()" id="nav-mobile" class="left">

                <!--<li><a href="/band/search">Find A Band</a></li>-->

                <!--<li><a href="/show/search">Find Shows Near Me</a></li>-->
                <li><a class="dropdown-button" href="#" data-activates="dropdown1">Search!<i class="material-icons right">arrow_drop_down</i></a></li>

                <li><a href="/profile">My Profile</a></li>

                <!--<li><a href="/user/search">Find a User</a></li>-->
                <!--</ul>-->

            </ul>

            <ul id="nav-mobile" class="right">

                <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>

                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>


                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
</body>
</html>