<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<header>
<nav th:replace="fragments/navbar :: mainNav"></nav>
</header>
<main>
<h1>Welcome <span th:text="${user.username}"></span></h1>
<h2>Here are your bands:</h2>
<ul th:each="band : ${user.bands}">
    <li th:text="${band.bandname}"></li>
    <form method="post" th:action="@{'/band/' + ${band.id} + '/delete'}" id="form">
        <input class="btn btn-block btn-danger" type="submit" value="Delete" />
    </form>
</ul>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>