<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">

</head>
<!--<link href="loginStyle.css" rel="Stylesheet" type="text/css"/>-->
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container purple lighten-5">
    <div class="row">
        <div class="col s12 center">
            <h1>Login To Your Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="form-div white col s12 m6 offset-m3">

            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post" class="user-form">

                <div th:if="${param.error}">
                    Invalid Username and Password.
                </div>

                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text"/>

                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password"/>

                <input class="form-btn" type="submit" value="Log In"/>

            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>