<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">

</head>
<!--<link href="loginStyle.css" rel="Stylesheet" type="text/css" />-->
<body>

<h1 id="logintitle">Login To Your Profile</h1>
<form th:action="@{/login}" method="post" class="form col-xs-12 col-md-6 col-md-offset-3">
    <div th:if="${param.error}">
        Invalid Username and Password.

        <div id="typeUsername" class="form-group">
        <label for="username">Username</label>
        <input class="form-control" id="username" name="username" type="text"/>
    </div>
    <div id="typePassword" class="form-group">
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <label for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password"/>
    </div>
    <input class="submit-btn" type="submit" value="Log In"/>

</form>
</body>
</html>