<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">
    <div class="row">
        <h1>WELCOME ! <span th:text="${user.username}"/></h1>
        <h3><span th:text="${user.city}"/> , <span th:text="${user.state}"/></h3>
        <h5><span th:text="${user.email}"/></h5>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-3">
                    <div class="col-xs-12">
                        shows near me
                    </div>
                    <div class="col-xs-12">
                        my bands shows
                    </div>
                </div>
                <div class="col-xs-6">newsfeed</div>
                <div class="col-xs-3">
                    <div class="col-xs-12">my bands</div>
                    <div class="col-xs-12">my shows</div>
                    <div class="col-xs-12">my reviews</div>
                </div>
                <h5>users</h5>
                <div th:each="user : ${users}">
                    <a th:href="@{/request/{id}  (id=${user.id})}"><span th:text="${user.username}"/></a>
                </div>
                <h5>my bands</h5>
                <!--<div th:each="user : ${users}">-->
                    <h6 th:text="${userBandList}"/>
                <!--</div>-->
                <a th:href="@{/response/{id} (id=${user.id})}">requests</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>