<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: main-header"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">
    <div class="row">

            <div>
                <h1>Welcome,
                    <span th:text="${user.username}"></span>!
                </h1>
            </div>
            <div>
                <h2>My Info: </h2>
                <!--<p>Name: <span th:text="${loggedInUser.first_name}"></span></p>-->
                <p>Email: <span th:text="${user.email}"></span></p>
                <p>Location: <span th:text="${user.city}"></span></p>
            </div>
                <h2>My Bands: </h2>
            <div th:each="band : ${user.bands}">
                <p th:text="${band.bandname}"></p>
            </div>
                <h2>My Shows: </h2>
            <div th:each="show : ${user.shows}">
                <p th:text="${show.artists + ' at ' + show.venue}"></p>
            </div>
    </div>
</div>

            <!--<h5>Friends</h5>-->
            <!--<div th:each="user : ${users}">-->
                <!--<a th:href="@{/request/{id}  (id=${user.id})}"><span th:text="${user.username}"/></a>-->
            <!--</div>-->


        <!--<h1>WELCOME ! <span th:text="${user.username}"/></h1>-->
        <!--<h3><span th:text="${user.city}"/> , <span th:text="${user.state}"/></h3>-->
        <!--<h5><span th:text="${user.email}"/></h5>-->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>