<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: main-header('Register')">
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: mainNav"></nav>
</header>
<main class="purple lighten-4">
    <div class="container purple lighten-5">
        <div class="row">
            <div class="col s12 center">
                <h1>Register an Account With Us!</h1>
            </div>
        </div>
        <div class="row">
            <div class="form-div white col s12 m6 offset-m3">
                <form th:action="@{/register}" method="POST" th:object="${user}" class="user-form">

                    <div class="input-field">
                        <input id="username" type="text" th:field="*{username}"/>
                        <label for="username">Username: </label>
                    </div>


                    <div class="input-field">
                        <input id="first_name" type="text" class="validate" th:field="*{firstName}"
                               placeholder="optional"/>
                        <label for="first_name">First Name:</label>
                    </div>

                    <div class="input-field">
                        <input id="last_name" type="text" class="validate" th:field="*{lastName}"
                               placeholder="optional"/>
                        <label for="last_name">Last Name:</label>
                    </div>


                    <div id="email" class="input-field">
                        <input type="text" class="validate" th:field="*{email}"/>
                        <label for="email">Email:</label>
                    </div>

                    <div class="input-field">
                        <input id="password" type="password" class="validate" th:field="*{password}"/>
                        <label for="password">Password:</label>
                    </div>

                    <div class="input-field">
                        <input id="zipcode" type="text" class="validate" th:field="*{zipcode}"/>
                        <label for="zipcode">Zipcode</label>
                    </div>

                    <input type="submit" class="btn-large waves-effect waves-light orange darken-1"
                           value="Sign Me Up!"/>

                    <p>Already Have An Account?</p>

                    <a href="/login" class="btn-large waves-effect waves-light orange darken-1">Log In</a>

                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>