<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: main-header">
</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>


<h3 th:text="${user.username}"></h3>
<a th:href="@{/request/{id} (id=${user.id})}">request</a>

<p> Zipcode:<span th:text="${user.zipcode}"/></p>
<p th:text="${user.email}"></p>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>