<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: main-header">
</head>
<body>
<div th:each="user : ${searchedContent}">
    <ul>
        <li>
            <a th:href="@{/response/{id} }"><span th:text="${user.username}"/></a>

            <span th:text="${user.email}"/>
            <span th:text="${user.city}"/>
            <span th:text="${user.state}"/>
        </li>
    </ul>

</div>
</body>
</html>