<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">
</head>

<body>
<header>
    <nav th:replace="fragments/navbar :: mainNav"></nav>
</header>
<main>

    <h5>view users</h5>
<div th:each="user : ${searchedContent}">
    <a th:href="@{/users/showIndividualUser/{id}  (id=${user.id})}"><span th:text="${user.username}"/></a>


</div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>