#responsive-img {
    display: block;
    transform: translate3d(-50%, -10px, 1200px);
    max-height: 150%;
    bottom: 150px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#termsOfService {
    color: black;
}

#otherTerm {
    color: black;
}

#profileName {
    margin: 2.1rem 0 1.68rem 232px;
}

/*a {*/
/*color: white;*/
/*}*/
#requests{
    color: blue;
}

#requests:hover{
    color: red;
}

.loginTitle {
    margin: 2.1rem 0px 2.1rem 390px;
}

.about{
    margin-right: 50px;
}
.contact{
    margin-right: 40px;
}

#moveThisFuckingDivOver {
    margin: 0 auto;
}
.topTitle{
    margin-right: 344px;
}
.who{
    margin-right: 400px;
}



.parallax-container {
    height: 2000px ;
}

#responsive-img{
    margin-top: 30px;
}
nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.form-div {
    margin-bottom: 3em;
    border: 2px solid #4a148c;
}

.form-btn {
    background-color: #fb8c00;
    border: 1px solid #4a148c;

}

.user-form {
    padding: 2em;
}

.modal-btn {
    padding-bottom: 2em;
}

.container {
    width: 85%;
}

.uniform {
    width: 60%;
}