<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: main-header">
<link rel="stylesheet" href="/common.css" type="text/css"/>
</head>

<body>
<title>Bands Profile</title>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">
    <div class="row">
        <h1>This is the bands profile page</h1>
        <h2>Get the bands location and bio?</h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-3">
                    <div class="col-xs-12">
                        shows near you
                    </div>
                    <div class="col-xs-12">
                       this bands shows
                    </div>
                </div>
                <div class="col-xs-6">newsfeed</div>
                <div class="col-xs-3">
                    <div class="col-xs-12">my bands</div>
                    <div class="col-xs-12">my shows</div>
                    <div class="col-xs-12">my reviews</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>