<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<nav th:replace="fragments/navbar :: mainNav">
</nav>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="header center white-text text-lighten-2">Live Music Is My Life</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text text-lighten-2">Let us show you what live music is happening
                    in your area.</h5>
            </div>
            <!-- <div class="row center">
                <a th:href="${'signUp'}" id="get-started" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div> -->
            <br/><br/>
        </div>
    </div>
    <div class="parallax">
        <img src="https://source.unsplash.com/3000x600/?musician" rel="stylesheet"/>
    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-audiotrack">
                    <h2 class="center black-text"><i class="material-icons">audiotrack</i></h2>
                    <h3 class="center">Search Bands</h3>
                    <p class="light">Provides users to find bands they want to see.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-beenhere">
                    <h2 class="center black-text"><i class="material-icons">beenhere</i></h2>
                    <h3 class="center">Check In</h3>
                    <p class="light">Allows the user to mark shows that they are attending.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">event</i></h2>
                    <h3 class="center">Event</h3>
                    <p class="light">Search live music events around you and provide the shows location</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="parallax-container valign-wrapper">-->
    <!--<div id="moveThisFuckingDivOver" class="section no-pad-bot">-->
        <!--<div class="container">-->
            <!--<div class="row center">-->
                <!--<h5 class="header center light white-text center-aligned">Let us help you with your live music-->
                    <!--experience</h5>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="parallax">-->
        <!--<img src="https://source.unsplash.com/3000x600/?music,artist" rel="stylesheet"/>-->
    <!--</div>-->
<!--</div>-->

<footer>
    <div th:replace="fragments/footer :: footer"></div>

</footer>
<!-- jQuery Library -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script src="/js/home.js"></script>
<!--<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>-->
<!--&lt;!&ndash;materialize js&ndash;&gt;-->
<!--<script type="text/javascript" src="js/materialize.js"></script>-->
<!--&lt;!&ndash;prism&ndash;&gt;-->
<!--<script type="text/javascript" src="js/prism.js"></script>-->
<!--&lt;!&ndash;scrollbar&ndash;&gt;-->
<!--<script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>-->
<!--&lt;!&ndash;plugins.js - Some Specific JS codes for Plugin Settings&ndash;&gt;-->
<!--<script type="text/javascript" src="js/plugins.js"></script>-->
<!--<script type="text/javascript" src="js/home.js"></script>-->
</body>
</html>