<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:replace="fragments/header :: main-header">-->
<head>
    <link rel="stylesheet" type="text/css" href="/css/materialize.css"/>

</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="row">
    <div class="col-xs-12 banner text-center">
        <img class="responsive-img" id="bandProfilePic" src="https://source.unsplash.com/3000x600/?music,artist"/>

    </div>
    <div class="container-fluid">

    </div>
    <div class="row">
        <div class="col offset-s3 s6 ">
            <!-- main content col -->
            <div class="banner-text">
                <h1>LMIML</h1>
                <button class="btn">hello</button>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
            <h1>Who We Are</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur cumque, cupiditate
                doloremque dolorum earum enim illo illum incidunt minima officia officiis perferendis possimus quasi qui
                quidem quis sequi soluta?</p>

            <div class="row">
                <!-- secondary content -->
                <h1>What We Do</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur cumque, cupiditate
                    doloremque dolorum earum enim illo illum incidunt minima officia officiis perferendis possimus quasi
                    qui quidem quis sequi soluta?</p>
            </div>
        </div>
        <!--<div class="offset-col-xs-10">-->
        <!--<h1>What We Do</h1>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur cumque, cupiditate doloremque dolorum earum enim illo illum incidunt minima officia officiis perferendis possimus quasi qui quidem quis sequi soluta?</p>-->
        <!--</div>-->
    </div><!-- end main row -->

<div class="parallax-container">
    <div class="section white">
        <div class="row container">
            <h2 class="header" id="topTitle">Live Music Is My Life</h2>
            <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores atque delectus laudantium maxime non nostrum odio, reiciendis rerum, sed similique tempora ut. Adipisci autem deserunt exercitationem quaerat unde?.</p>
        </div>
    </div>
    <div class="parallax"><img src="https://source.unsplash.com/3000x600/?music,artist"/></div>
</div>
    <div th:replace="fragments/footer :: footer"></div>
<div class="section white">
    <div class="row container">
        <h2 class="header" id="who">Who We Are</h2>
        <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam quidem quis voluptatibus! Beatae consequuntur, eligendi enim hic, inventore, iure iusto labore libero minima obcaecati officiis rerum sed sunt ut..</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://source.unsplash.com/3000x600/?,artist"/></div>
</div>
<div class="row container">
    <h2 class="header" id="what">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://source.unsplash.com/1000x400/?music,"/></div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>


<!--<canvas id="canvas" style="position:absolute; top:0; left:0;"></canvas>-->
<!--<div id="buffer" style="display:none;"/>-->