<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header">

</head>
<body>
<header>
<nav th:replace="fragments/navbar :: mainNav"></nav>
</header>
<main>
<div>
    <h1>These are the events happening in your area!!</h1>
</div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>

 <!--this is to use the google maps api with the ticketmaster api-->
<!--<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>
  <body>
    <p id="location">location there</p>
    <div id="map"></div>
    <div id="events"></div>
    <script src="script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js" async defer></script>

  </body>
</html>-->



<!--this is to use the google maps api-->
<!--<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>
  <body>
    <p id="location">location there</p>
    <div id="map"></div>
    <div id="events"></div>
    <script src="script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js" async defer></script>

  </body>
</html>-->